:root {
  --text-color: #3a5357;
  --bluish-color: #5e8386;
  --light-green-color: #b0b69c;
  --gray-color: #8b978e;
  --gray-color-border: rgba(139, 151, 142, 0.4);
  --creamy-color: #f4f5f8;
  --background-color: rgba(243, 244, 247, 0.5);
  --button-color: rgba(94, 131, 134, 0.5);
}

body {
  font-family: "Dancing Script", serif;
  text-align: center;
  margin: 80px 20px;
  color: var(--text-color);
  font-size: 25px;
  background: radial-gradient(
    circle,
    rgba(139, 151, 142, 0.4) 10%,
    #f4f5f8 90%
  );
}

body::before {
  content: "";
  position: fixed;
  background-position-x: center;
  background-position-y: center;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url(https://s3.amazonaws.com/shecodesio-production/uploads/files/000/155/066/original/flower.jpg?1737116540);
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.2;
  z-index: -1;
}

.container {
  margin: 0 auto;
  max-width: 600px;
  background-color: var(--background-color);
  padding: 40px 70px;
  border-radius: 40px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

h1 {
  font-size: 45px;
  font-weight: 800;
  margin: 0 0 30px;
}

form {
  display: flex;
  justify-content: center;
}

form input {
  padding: 15px 20px;
  border: 1px solid var(--gray-color-border);
  background-color: var(--creamy-color);
  font-size: 14px;
}

form input::placeholder {
  color: var(--gray -color);
  opacity: 0.5;
}

form .input-text {
  border-radius: 50px 0 0 50px;
  width: 80%;
  margin-right: 10px;
  color: var(--bluish-color);
}

form .submit-button {
  border-radius: 0 50px 50px 0;
  background-color: var(--button-color);
  color: var(--creamy-color);
  text-transform: uppercase;
  width: 20%;
}

form .input-text:focus {
  outline: none;
  border: 1px solid var(--gray-color);
}

form .submit-button:hover {
  border: 1px solid rgba(94, 131, 134, 0.6);
  background-color: rgba(94, 131, 134, 0.6);
  cursor: pointer;
  box-shadow: rgba(139, 151, 142, 0.2) 1.95px 1.95px 2.6px;
  transition: all 200ms ease-in-out;
}

.hint {
  color: var(--bluish-color);
  text-align: left;
  font-size: 16px;
  opacity: 0.6;
  margin-top: 10px;
}

.poem {
  padding: 0 20px;
  border-left: 3px solid var(--bluish-color);
  width: fit-content;
  margin-top: 20px;
  text-align: left;
}

.poem .sign {
  color: var(--bluish-color);
}

.hidden {
  display: none;
}

footer {
  margin-top: 20px;
  font-size: 18px;
  color: rgba(58, 83, 87, 0.6);
}

footer .emoji {
  color: var(--text-color);
}

a {
  color: var(--bluish-color);
  text-decoration: none;
  font-weight: bolder;
}

.blink {
  animation: blinker 1s linear infinite;
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}

::selection {
  color: var(--creamy-color);
  background: var(--button-color);
}

::-moz-selection {
  /* Code for Firefox */
  color: var(--creamy-color);
  background: var(--button-color);
}

@media (max-width: 480px) {
  .container {
    padding: 20px;
    border-radius: 10px;
  }

  form input {
    padding: 10px;
  }

  form .input-text {
    border-radius: 10px 0 0 10px;
    width: 60%;
  }

  form .submit-button {
    border-radius: 0 10px 10px 0;
    width: 40%;
  }

  footer {
    font-size: 14px;
  }
}
